# Python Connectivity with MYSQL

Python needs a MySQL driver to access the MySQL database which is "MySQL Connector".

Use pip to install "MySQL Connector".


C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>python -m pip install mysql-connector

In [7]:
import mysql.connector

In [8]:
con=mysql.connector.connect(user="root",password="123",host="localhost",database="test")

Arguments required in connect() method

•	User name –  i.e., the username that you use to work with MySQL Server. The default username for the MySQL database is a root
•	Password – Password is given by the user at the time of installing the MySQL database. 
•	Host Name  – is the server name or Ip address on which MySQL is running. if you are running on localhost, then you can use localhost, or it’s IP, i.e. 127.0.0.1
•	Database Name – Database name to which you want to connect. Here we are using Database named 'test'  because we have already created this for our example.

In [4]:
print(con.is_connected())
# returns True if connection is established otherwise False

True

In [4]:
if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("select * from student")
    for i in cur:
        print(i)
    cur.close()
    con.close()
else:
    print("sorry can't connected")

(1, 'puja', 'jp')
(2, 'aadi', 'dw')
(3, 'srish', 'dw')
(4, 'raja', 'dw')

1.	Use the  mysql.connector.connect()  method of MySQL Connector Python with required parameters to connect MySQL.
2.	Use the connection object returned by a  connect()  method to create a cursor object to perform Database Operations.
3.	The cursor.execute() to execute SQL queries from Python.
4.	Close the Cursor object using a cursor.close() and MySQL database connection using connection.close() after your work completes.

In [8]:
if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("select * from student")
    x=cur.fetchall()
    print(type(x),x)
    for i in x:
        print(i)
else:
    print("sorry can't connected")

<class 'list'> [(1, 'puja', 'jp'), (2, 'aadi', 'dw'), (3, 'srish', 'dw'), (4, 'raja', 'dw')]
(1, 'puja', 'jp')
(2, 'aadi', 'dw')
(3, 'srish', 'dw')
(4, 'raja', 'dw')

In [5]:
if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("select * from student where admno<=3")
    x=cur.fetchone()
    print(type(x),x)
    x=cur.fetchone()
    print(type(x),x)
    for i in x:
        print(i)

else:
    print("sorry can't connected")

<class 'tuple'> (1, 'puja', 'jp')
<class 'tuple'> (2, 'aadi', 'dw')
2
aadi
dw

In [13]:
if con.is_connected(): 
    cur=con.cursor(buffered=True)
    
    cur.execute("select * from student where admno>=2")
    c=cur.rowcount
    for i in range(c):
            x=cur.fetchone()
            if not x:
                break
            print(type(x),x)
            for i in x:
                print(i)

else:
    print("sorry can't connected")

<class 'tuple'> (2, 'aadi', 'dw')
2
aadi
dw
<class 'tuple'> (3, 'srish', 'dw')
3
srish
dw
<class 'tuple'> (4, 'raja', 'dw')
4
raja
dw

In [9]:
if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("select * from student order by name desc")
    while True:
            x=cur.fetchmany(3)
            if not x:
                break
            print(type(x),x)
            for i in x:
                print(i)

else:
    print("sorry can't connected")

<class 'list'> [(3, 'srish', 'dw'), (4, 'raja', 'dw'), (1, 'puja', 'jp')]
(3, 'srish', 'dw')
(4, 'raja', 'dw')
(1, 'puja', 'jp')
<class 'list'> [(2, 'aadi', 'dw')]
(2, 'aadi', 'dw')

In [10]:
#Python Connectivity with MYSQL
#to insert update, delete and select records
import mysql.connector
con=mysql.connector.connect(user="root",password="123",host="localhost",database="test")
if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("update student set name='puja gupta' where name='puja'")
    con.commit()
else:
    print("sorry can't connected")

    #as auto commit is set by default to False, so need to commit to save changes 
	#permanently in database

In [11]:
#to insert a record
cur=con.cursor()
cur.execute("insert into student values(5,'raji','DW')")
con.commit()

In [12]:
#to insert multiple records
cur=con.cursor()
cur.execute("insert into student values(6,'aaa','DW'),(7,'rrr','JP')")
con.commit()

In [16]:
#insert a single record using string formatting operator
cur=con.cursor()
s="insert into student values(%s,%s,%s)"
a=(17,'tt','HN')
cur.execute(s,a)
con.commit()

In [17]:
#insert multiple records using string formatting operator
#and executemany() method
cur=con.cursor()
s="insert into student values(%s,%s,%s)"
a=[(18,'tt','HN'),(19,'gg','HN')]
cur.executemany(s,a)
con.commit()

In [18]:
#delete a record
cur=con.cursor()
cur.execute("delete from student where admno=17")
con.commit()

rowcount returns the number of rows affected by the last execute method for the same cur object and thus it returns -1 for the first cur. rowcount() will output -1 until you have fetched all rows of the result.

In [28]:
import mysql.connector
con=mysql.connector.connect(user="root",password="123",host="localhost",database="test")

if con.is_connected(): 
    cur=con.cursor()
    
    cur.execute("select * from student where admno>=2")
    print(cur.rowcount)
    x=cur.fetchmany(3)
    print(cur.rowcount,x)
else:
    print("sorry can't connected")

-1
3 [(2, 'aadi', 'dw'), (3, 'srish', 'dw'), (4, 'raja', 'dw')]

buffered=True
We have used my_cursor as buffered cursor.
my_cursor = my_connect.cursor(buffered=True)
This type cursor fetches rows and buffers them after getting output from MySQL database. We can use such cursor as iterator. There is no point in using buffered cursor for single fetching of rows.

If we don’t use buffered cursor then we will get -1 as output from rowcount

In [30]:
import mysql.connector
con=mysql.connector.connect(user="root",password="123",host="localhost",database="test")

if con.is_connected(): 
    cur=con.cursor(buffered=True)
    
    cur.execute("select * from student where name like 'r%'")
    print(cur.rowcount)
    
else:
    print("sorry can't connected")

3

In [30]:
#to update record with rowcount
if con.is_connected(): 
    cur=con.cursor(buffered=True)
    cur.execute("update student set name='puja' where name='puja gupta'")
    print("rows affected are",cur.rowcount)
    con.commit()
else:
    print("sorry can't connected")

    #as auto commit is set by default to False, so need to commit to save changes 
	#permanently in database

rows affected are 1

In [31]:
#if u have to create database and table in it
import mysql.connector
con=mysql.connector.connect(user="root",password="123",host="localhost")

In [32]:
cur=con.cursor()
cur.execute("create database ff")
cur.execute("use ff")
cur.execute("create table st(admno int,name varchar(30))")

In [33]:
cur.execute("insert into st values(1,'a')")
con.commit()